extends layout

block header
  .container.content
    h1 oh noes!
    if error.status
      h2 #{error.status}
    else if error.code
      h2 #{error.code}
    else
      h2 #{statusCode}

block content
  .container.content
    if env !== 'production' && error.stack
      h2 Stack Trace
      pre #{error.stack}
