extends layout

block content
  .container.content
    if error.status
      h1 #{error.status}
    else
      h1 oh noes!

    .alert.alert-danger(role='alert') #{error.message}

    if env !== 'production'
      pre #{error.stack}
